<ion-grid>
  <ion-row *ngIf="config.imageData.length != 0">
    <ion-col>

      <ion-badge>
        <ion-row>
          <ion-col><ion-icon name="camera-sharp"></ion-icon></ion-col>
          <ion-col><span>{{actualIndex}}/{{config.imageData.length}}</span></ion-col>
        </ion-row>
      </ion-badge>

      <ion-slides #slides pager="true" [options]="slideOpts" (ionSlideDidChange)="onSlideChanged( slides )">
          <ion-slide class="text-center" *ngIf="config.actions.create">
            <ion-icon name="add" class="slide-btn" (click)="uploadPhoto()"></ion-icon>
            <p>Subir Foto</p>
          </ion-slide>
          <ion-slide *ngFor="let image of config.imageData">
            <ion-img [src]="image.url"></ion-img>
          </ion-slide>
      </ion-slides>

    </ion-col>
  </ion-row>

  <ion-row *ngIf="config.imageData.length == 0">
    <ion-col>

      <ion-badge>
        <ion-row>
          <ion-col><ion-icon name="camera-sharp"></ion-icon></ion-col>
          <ion-col><span>0/0</span></ion-col>
        </ion-row>
      </ion-badge>

      <ion-avatar class="text-center">
        <ion-icon name="add" class="slide-btn"></ion-icon>
        <p>Subir Foto</p>
      </ion-avatar>

    </ion-col>
  </ion-row>

</ion-grid>
