<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Restaurar Contraseña
      </ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content>
    <div class="padding">  

        <form [formGroup]="resetPassForm" class="col">
  
            <ion-item>
                <ion-label color="light">Contraseña Nueva:</ion-label>
                <ion-input color="light" type="password" required class="form-control" placeholder="Contraseña Nueva" text-center formControlName="new_password"
                [(ngModel)]="resetPass.new_password"></ion-input>
            </ion-item>
            <span style="color:Red;" *ngIf="resetPassForm.controls['new_password'].touched && resetPassForm.controls['new_password'].errors?.required">La Nueva Contraseña
            es requerida.</span>

            <ion-item>
                <ion-label color="light">Confirmar contraseña:</ion-label>
                <ion-input color="light" type="password" required class="form-control" placeholder="Contraseña Nueva" text-center formControlName="repeat_password"
                [(ngModel)]="resetPass.repeat_password"></ion-input>
            </ion-item>
            <span style="color:Red;" *ngIf="resetPassForm.controls['repeat_password'].touched && resetPassForm.controls['repeat_password'].errors?.required">La Confirmación de Contraseña 
            es requerida.</span>
            <span style="color:Red;" *ngIf="resetPassForm.get('repeat_password').hasError('notSame')">La Nueva Contraseña y la Confirmación de Contraseña deben coincidir.</span>

            <br>
  
            <ion-button color="light" expand="block" shape="round" fill="outline" (click)="next()">
                Confirmar
            </ion-button>

        </form>
    </div>
</ion-content>
  