<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">

  <ion-list lines="none">
    <ion-item>
      <ion-avatar slot="start" class="profile-image">
        <img src="https://griffonagedotcom.files.wordpress.com/2016/07/profile-modern-2e.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Nombre</h2>
        <p>Descripción</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="none" class="app-list" mode="md">

    <ion-item>
      <ion-icon slot="start" color="primary" name="key"></ion-icon>
      <ion-label (click)="toggleExpanded('cuenta')">
        <h2>Cuenta</h2>
      </ion-label>
    </ion-item>

    <app-expandable [expanded]="expandable_items.cuenta.expanded">
      <ion-item>
        <ion-label>Sesion</ion-label>
        <ion-button slot="end" (click)="logOut()">Salir</ion-button>
      </ion-item>
    </app-expandable>

    <ion-item>
      <ion-icon slot="start" color="primary" name="notifications"></ion-icon>
      <ion-label>
        <h2 (click)="toggleExpanded('notificaciones')">Notificaciones</h2>
      </ion-label>
    </ion-item>
    <app-expandable [expanded]="expandable_items.notificaciones.expanded">
      <ion-item>
            <p>
              contenido interno
            </p>
      </ion-item>
    </app-expandable>

    <ion-item>
      <ion-icon slot="start" color="primary" name="people"></ion-icon>
      <ion-label>
        <h2 (click)="toggleExpanded('invitar')">Invitar Amigos</h2>
      </ion-label>
    </ion-item>
    <app-expandable [expanded]="expandable_items.invitar.expanded">
      <ion-item>
            <p>
              contenido interno
            </p>
      </ion-item>
    </app-expandable>

    <ion-item (click)="toggleExpanded('ayuda')">
      <ion-icon slot="start" color="primary" name="help" ></ion-icon>
      <ion-label >
        <h2>Ayuda</h2>
      </ion-label>
    </ion-item>
    <app-expandable [expanded]="expandable_items.ayuda.expanded">
      <ion-item>
              <p>
                contenido interno
              </p>
      </ion-item>
    </app-expandable>

  </ion-list>

</ion-content>
