<ion-content >
  <div class="padding">

    <div class="logo">
      <img  src="assets/imgs/logo.png" />
    </div>

    <ion-item >
      <ion-label color="light">Introduzca su email</ion-label>
      <ion-input color="light" type="mail" placeholder="Correo electrónico" required class="form-control ng-valid ng-touched bootstrapFieldError"
      [(ngModel)]="resetPass.email" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>

    <ion-button color="light" expand="block" shape="round" fill="outline" (click)="next()">Reestablecer contraseña</ion-button>
    <br>
    <ion-button color="tertiary" expand="block" shape="round" routerLink="/login">Volver</ion-button>

  </div>
</ion-content>