<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Perfil
      </ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content>
    <div class="padding">
        <form [formGroup]="changePassForm" class="col">
  
            <ion-item>
                <ion-label>Contraseña Actual:</ion-label>
                <ion-input type="password" required class="form-control ng-valid ng-touched bootstrapFieldError" placeholder="Contraseña Actual" text-center formControlName="old_password"
                [(ngModel)]="changePass.old_password"></ion-input>
            </ion-item>
            <span style="color:Red;" *ngIf="changePassForm.controls['old_password'].touched && changePassForm.controls['old_password'].errors?.required">La Contraseña Actual
            es requerida.</span>

  
            <ion-item>
                <ion-label>Contraseña Nueva:</ion-label>
                <ion-input type="password" required class="form-control" placeholder="Contraseña Nueva" text-center formControlName="new_password"
                [(ngModel)]="changePass.new_password"></ion-input>
            </ion-item>
            <span style="color:Red;" *ngIf="changePassForm.controls['new_password'].touched && changePassForm.controls['new_password'].errors?.required">La Nueva Contraseña
            es requerida.</span>

            <ion-item>
                <ion-label>Confirmar contraseña:</ion-label>
                <ion-input type="password" required class="form-control" placeholder="Contraseña Nueva" text-center formControlName="repeat_password"
                [(ngModel)]="changePass.repeat_password"></ion-input>
            </ion-item>
            <span style="color:Red;" *ngIf="changePassForm.controls['repeat_password'].touched && changePassForm.controls['repeat_password'].errors?.required">La Confirmación de Contraseña 
            es requerida.</span>
            <span style="color:Red;" *ngIf="changePassForm.get('repeat_password').hasError('notSame')">La Nueva Contraseña y la Confirmación de Contraseña deben coincidir.</span>

            <br>
  
            <ion-button color="medium" expand="block" shape="round" fill="outline" (click)="next()">
                Confirmar
            </ion-button>
            <ion-button color="medium" expand="block" shape="round" routerLink="/tabs/tabs/profile">
                Volver
            </ion-button>

        </form>
    </div>
</ion-content>
  